<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHouseCondition"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://housingcondition.cloudapp.net/HouseCondition.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHouseCondition" contract="HouseCondition.IHouseCondition" name="BasicHttpBinding_IHouseCondition"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
