@model HousingConditionWebApp.House

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>House condition details</legend>

    <div style="float:left;">
        <div class="display-label">Address</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>

        <div class="display-label">Repairs required?</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Repairs)
        </div>

        <div class="display-label">Cost</div>
        <div class="display-field">
            €@Html.DisplayFor(model => model.Cost)
        </div>

        <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
        </p>
    </div>

    <img src="../../Content/themes/base/images/house.gif" alt="azure" style="float:right;" />
</fieldset>

