<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <!-- Added connection string from Web project to allow tests to access the database. Would be more desirable to isolate dependencies and inject mock information from memory. -->
      <add name="HouseConditionEntities" connectionString="metadata=res://*/HouseConditionModel.csdl|res://*/HouseConditionModel.ssdl|res://*/HouseConditionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=r1fb6zlobo.database.windows.net,1433;Initial Catalog=housecondition;Persist Security Info=True;User ID=okeeman;Password=sT2NEceQ;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
